<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var stompClient = null;
        var chatRoomId = null;

        function connect(roomId) {
            var socket = new SockJS('/chat');
            stompClient = Stomp.over(socket);

            // Debug console disable
            stompClient.debug = () => {};

            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                chatRoomId = roomId;

                // 이전 메시지 가져오기
                fetch('/api/chat/message/' + roomId)
                    .then(response => response.json()) // JSON 응답 처리
                    .then(data => {
                        data.forEach(messageBody => {
                            showMessage(messageBody.chatRoomId, messageBody.message, messageBody.senderName, messageBody.timestamp);
                        });
                    })
                    .catch(error => console.error('Error fetching messages:', error));

                    // 메시지 수신 경로 구독 예시
                    stompClient.subscribe('/queue/' + roomId, function (message) {
                        var messageBody = JSON.parse(message.body);
                        showMessage(messageBody.chatRoomId, messageBody.message, messageBody.senderName, messageBody.timestamp);
                    });

            }, function (error) {
                console.error('STOMP error', error);
            });
        }

        function sendMessage() {
            var message = document.getElementById('message').value;
            var senderId = localStorage.getItem('userId'); // localStorage에서 userId 가져오기
            var senderName = localStorage.getItem('userName'); // localStorage에서 userName 가져오기

            if (message.trim() === "" || senderId === null || chatRoomId === null) {
                return;
            }
            var messageObject = {
                'message': message,
                'senderId': senderId,
                'chatRoomId': chatRoomId,
                'senderName': senderName
            };
            stompClient.send("/app/message", {}, JSON.stringify(messageObject));
            document.getElementById('message').value = ''; // 메시지 전송 후 입력 필드 초기화
        }

        function showMessage(chatRoomId, message, senderName, timestamp) {
            var messages = document.getElementById('messages');
            var messageElement = document.createElement('div');
            var localSenderName = localStorage.getItem('userName'); // localStorage에서 userId 가져오기

            // 메시지 소유자를 기준으로 CSS 클래스를 다르게 설정
            if (senderName === localSenderName) {
                messageElement.className = 'message message-right'; // 오른쪽에 표시
                messageElement.innerHTML = message + "<div class='message-time'>" + timestamp + "</div>";
            } else {
                messageElement.className = 'message message-left'; // 왼쪽에 표시
                messageElement.innerHTML = "<span>[" + chatRoomId + "] " + senderName + ":</span> " + message + "<div class='message-time'>" + timestamp + "</div>";
            }

            messages.appendChild(messageElement);
            messages.scrollTop = messages.scrollHeight; // 새로운 메시지가 추가될 때 스크롤 하단으로 이동
        }

        function goBack() {
            window.history.back();
        }

        function connectToRoom(roomId) {
            connect(roomId);
        }

        function fetchChatRooms(){
            var senderId = localStorage.getItem('userId');

            // 채팅방 입장
            fetch('/api/member/chatRooms/' + senderId)
                .then(response => response.json()) // JSON 응답 처리
                .then(data => {
                    var chatRoomList = document.querySelector('.chat-room-list');
                    chatRoomList.innerHTML = ''; // 기존 목록 비우기
                    data["chatRoomDtos"].forEach(chatRoomDtos => {
                        var listItem = document.createElement("li");
                        listItem.onclick = () => {
                            connectToRoom(chatRoomDtos.id);
                        };
                        chatRoomList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching chat rooms:', error));
        }

        document.addEventListener('DOMContentLoaded', () => {
            fetchChatRooms();

            // 메시지 입력 필드에 이벤트 리스너 추가
            var messageInput = document.getElementById('message');
            messageInput.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    sendMessage();
                }
            });
        }); // 페이지 로드 시 채팅방 목록 가져오기
    </script>
</head>
<body>
<div class="split-container-wrapper">
    <div class="split-container">
        <button class="back-button" onclick="goBack()">Back</button>
        <div class="left-panel">
            <ul class="chat-room-list">
                <!-- 채팅방 목록 -->
            </ul>
        </div>
        <div class="right-panel">
            <div class="chat-messages-container">
                <div class="chat-header">Messages</div>
                <div id="messages" class="chat-messages"></div> <!-- 메시지를 표시할 영역 -->
            </div>
            <div class="chat-container">
                <div class="chat-inputs">
                    <input type="text" id="message" placeholder="Enter your message here">
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
