<!DOCTYPE html>
<html lang="ko">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>DevLog Chating</title>
    <link href="/chat.css" rel="stylesheet" type="text/css">
    <script src="/chat.js"></script>
</head>


<body>
<div id="container" class="container">
    <h1>DevLog Chat</h1>

    <div id="chating" class="chating">
    </div>

    <div id="yourMsg">
        <table class="inputTable">
            <tr>
                <th>메시지</th>
                <th><input id="chatting" placeholder="보내실 메시지를 입력하세요." disabled></th>

                <th>
                    <button onclick="chatName()" id="startBtn">채팅 참가</button>
                    <button onclick="send()" id="sendBtn">보내기</button>
                </th>
            </tr>
        </table>
    </div>
</div>
</body>

</html>