<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        function get_cookie(name) {
            var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value ? value[2] : null;
        }

        let memberId = get_cookie("member_id");
        let uri;

        console.log('memberId:', memberId);
        

        if(memberId) uri = "/roomList";
        else uri = "/signin";

        location.href = uri;
    </script>
</body>

</html>